# Unit 22. 리스트, 튜플 응용

## 22.1 리스트 조작
- append: 요소 하나를 추가, 주로 #반복문 안에서 사용됨.
- extend: 리스트를 연결하여 확장. 
- insert: 특정 인덱스에 요소 추가
> append가 가장 많이 쓰임

In [10]:
a = [10, 20, 30]

In [11]:
# 리스트 맨 뒤에 요소 하나를 추가하는 method
a.append(500)
a

[10, 20, 30, 500]

In [3]:
b = [10, 20, 30]
b.extend(['x', 'y'])
b

[10, 20, 30, 'x', 'y']

In [4]:
empty_list = []
for i in range(5):
    empty_list.append(i)
empty_list

[0, 1, 2, 3, 4]

In [13]:
del a[3]
a

[10, 20, 30]

### 자료 구조 기본 (Stack & Queue)
- Stack : Last In, First Out(쌓기) 

- Queue : Firt In, First Out(일직선)

In [24]:
stack = []
# stack에 push
stack.append(1); stack.append(2); stack.append(3);
stack

[1, 2, 3]

In [25]:
# stack으로부터 pop
value = stack.pop() # 제일 마지막에 있던 게 나옴
print(value, stack)

3 [1, 2]

In [28]:
queue = []
# queue에 insert
queue.insert(0, 1); queue.insert(0, 2); queue.insert(0, 3); 
queue

[3, 2, 1]

In [29]:
# queue로부터 끄집어내기, 제일 앞에 있던 게 나옴
value = queue.pop()
print(value, queue)

1 [3, 2]

### 다양한 Method

In [43]:
# index - 몇 번째 값인지 확인
a = [10, 20, 30, 40, 50, 10]
a.index(30)

2

In [41]:
a.index(30), a.index(40) # 줄 바꿈 하면 마지막 값만 print나옴. 굳이 한 줄로 보고 싶으면 comma로 연결해서 tuple 형태로 볼 것

(2, 3)

In [34]:
num = 45
if num in a:
    idx = a.index(num)

In [45]:
# value 개수 세기
a.count(10), a.count(45)

(2, 0)

## 정렬(Sort)

In [47]:
# 기본 오름차순(ascending)
a = [20, 10, 15, 30, 40]
a.sort()
a # a 값 자체가 변함

[10, 15, 20, 30, 40]

In [48]:
b = [20, 10, 15, 30, 40]
sorted(b)

[10, 15, 20, 30, 40]

In [49]:
b # sorted를 사용하면 b값 자체에는 변함이 없음. 
## b = sorted(b)로 해줘야 변함.

[20, 10, 15, 30, 40]

In [50]:
# reverse - 내림차순(descending order)
a = [20, 10, 15, 30, 40]
a.sort(reverse = True) # 제일 큰 값이 가장 먼저
a

[40, 30, 20, 15, 10]

## 22.2 리스트 할당과 복사

In [51]:
# Shallow copy, pointer 만 복사
a = [0, 0, 0, 0, 0]
b = a
b

[0, 0, 0, 0, 0]

In [52]:
b[2] = 99
b

[0, 0, 99, 0, 0]

In [53]:
a

[0, 0, 99, 0, 0]

In [56]:
# 데이터를 몽땅 별도의 기억장소에 복사
a = [0, 0, 0, 0, 0]
b = a.copy()
b

[0, 0, 0, 0, 0]

In [55]:
b[2] = 99
a

[0, 0, 0, 0, 0]

## 22.3 리스트와 반복문

In [58]:
for fruit in ['apple', 'banana', 'cherry']:
    print(fruit)

apple
banana
cherry

In [59]:
# enumerate - index 값을 함께 나타내줌. 자주 쓰임
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [60]:
# 옛날 코딩 방식
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry

## 22.4 리스트에서 min, max, sum 함수 활용

In [62]:
a = [38, 21, 53, 62, 19]
a.sort()   # same as min(a)
a[0]

19

In [63]:
a[-1]  # same as max(a)

62

In [64]:
a = [38, 21, 53, 62, 19]
sorted(a)[0]  # min(a)

19

In [65]:
sorted(a)[-1]  # max(a)

62

In [66]:
# a 원소의 합
sum_of_list = 0
for elem in a:
    sum_of_list += elem
sum_of_list, sum(a)  # same value

(193, 193)

## 22.5 리스트 표현식(Comprehension)
- i for i in range(10)

In [68]:
[fruit for fruit in fruits]

['apple', 'banana', 'cherry']

In [76]:
[fruit * index for index, fruit in enumerate(fruits)]

['', 'banana', 'cherrycherry']

In [79]:
[i * i for i in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [80]:
list(i * i for i in range(1, 11)) # same value

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [82]:
# 다른 language를 사용했다면,
sq_list = []
for i in range(1, 11):
  sq_list.append(i * i)
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 표현식에서 if 조건문 사용하기

In [83]:
[i * i for i in range(1, 11, 2)] # odd numbers

[1, 9, 25, 49, 81]

In [86]:
[i * i for i in range(1, 11) if i % 2 == 1] # odd numbers

[1, 9, 25, 49, 81]

### for가 여러 번 나오게 할 수 있음

In [89]:
# 2중 for loop
# 구구단
a = [i * k for i in range(2, 10) for k in range(1, 10)] # i - 구구단 2단부터 9단까지, k - 1부터 9까지 곱해주기
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [91]:
a = [i * k for i in range(2, 10)
              for k in range(1, 10)]  # 더 보기 편한 구조
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

## 22.6 map

In [92]:
a = [1.2, 2.3, 3.5, 4.8]
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 4]

In [95]:
# 저장이 안 되는 경우
a = [1.2, 2.3, 3.5, 4.8]
for i in a:
    i = int(i)
a

[1.2, 2.3, 3.5, 4.8]

In [94]:
a = [1.2, 2.3, 3.5, 4.8]
for i, val in enumerate(a):
    a[i] = int(val)
a

[1, 2, 3, 4]

In [98]:
a = [1.2, 2.3, 3.5, 4.8]
a = list(map(int, a))
a

[1, 2, 3, 4]

In [100]:
a = [1.2, 2.3, 3.5, 4.8]
a = list(map(lambda x: x * x, a)) # 별도의 함수를 지정해줘도 됨
a

[1.44, 5.289999999999999, 12.25, 23.04]

## 22.7 tuple

In [101]:
tuple(i * i for i in range(1, 11) if i % 2 == 0) # even numbers

(4, 16, 36, 64, 100)